[package]
name = "gosub_css3"
version = "0.1.0"
edition = "2021"
authors = ["Gosub Community <info@gosub.io>"]
license = "MIT"

[dependencies]
gosub_shared = { path = "../gosub_shared", features = [] }
lazy_static = "1.5.0"
log = "0.4.22"
simple_logger = "5.0.0"
anyhow = { version = "1.0.90", features = [] }
colors-transform = "0.2.11"
rand = "0.8.5"
itertools = "0.13.0"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
thiserror = "1.0.65"
nom = "7.1.3"
