#
# Please do not add IDE specific files to this file. You should use your own .gitignore file for that.
#

# Binary output directory
target/

# Local testing

# A web-platform-tests checkout, when it is kept inside the repo (see docs/wpt-quickstart.md)
/wpt/

# Misc files
settings.db

# C API tests (ignore everything but source files)
*.dSYM

*.db
*.db-wal
*.db-shm
