.a {
    prop1: calc(50% - 22px);
    prop2: calc(50%-22px);
    prop3: calc(50% + -22px);
    prop4: calc(50% - +22px);
    prop5: calc(50% / +22px);
    prop6: calc(50%/+22px);
    prop7: calc(50%/22px);
    prop8: calc(50%/-22px);
    prop9: calc(50%*-22px);
    prop10: calc(50%*+22px);
}