.pointer {
    cursor: pointer
}

.clear {
    clear: both
}

.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}

.nounderline {
    text-decoration: none
}

.sprite {
    background-repeat: no-repeat;
    display: inline-block !important;
    text-align: left;
    overflow: hidden;
    text-indent: -1000px
}

hr .short, hr .long {
    background-color: var(--border-base-color);
    border: 0;
    color: var(--border-base-color);
    height: 1px;
    margin: 20px 0 0 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 65px
}

hr .short + h4, hr .long + h4 {
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 0
}

hr .long {
    margin-top: 0;
    width: 125px
}

span[unselectable] {
    -webkit-touch-callout: none
}

div[unselectable] {
    -webkit-touch-callout: none
}

.breadcrumbinfo:hover {
    background-position: 0 -14px
}

.breadcrumbinfo + .breadcrumb {
    margin-left: 17px
}

#breadcrumbinfopopup {
    display: none
}

.bulletSeparatedList.breadcrumb > li::before {
    content: "»";
    top: -1px
}
