@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
    #userbar li.icon a, .keywordSearch input.submit {
        background-image: url("/g/if/v3/framework/menu_icons_v2_x2.png");
        background-size: 80px 180px
    }
}

@font-face {
    font-family: "IBM Plex Sans Condensed";
    src: local("IBM Plex Sans Condensed"), url("../../fonts/IBMPlexSansCondensed-Regular.woff2") format("woff2"), url("../../fonts/IBMPlexSansCondensed-Regular.woff") format("woff");
    font-weight: normal
}

@font-face {
    font-family: "IBM Plex Sans Condensed";
    src: local("IBM Plex Sans Condensed SemiBold"), url("../../fonts/IBMPlexSansCondensed-SemiBold.woff2") format("woff2"), url("../../fonts/IBMPlexSansCondensed-SemiBold.woff") format("woff");
    font-weight: bold
}

@media screen {
    h1, h2, .heading, header .subheading, .ankeiler .title, .fpaTitle, .fpaItem .productTitle, .streamer {
        font-family: "IBM Plex Sans Condensed", "calibri", "helvetica", "Liberation Sans", sans-serif;
        font-weight: bold
    }
}

@media (prefers-color-scheme: dark) {
    :root:not(.twk-light,.twk-dark) .hideLink:not(.toggleKarmaCards) {
        background-image: url("/g/icons/filter-arrow-up-darkmode.png");
        padding-left: 15px
    }

    :root:not(.twk-light,.twk-dark) .showLink:not(.toggleKarmaCards) {
        background-image: url("/g/icons/filter-arrow-down-darkmode.png");
        padding-left: 15px
    }

    :root:not(.twk-light,.twk-dark) .expandButton > span {
        background-image: url("/g/icons/arrow_up_lightgrey.png")
    }

    :root:not(.twk-light,.twk-dark) .hideEditions .expandButton > span {
        background-image: url("/g/icons/arrow_down_lightgrey.png")
    }

    :root:not(.twk-light,.twk-dark) .arrowUp, :root:not(.twk-light,.twk-dark) .sortOptions .asc {
        background-image: url("/g/icons/arrow_up_lightgrey.png")
    }

    :root:not(.twk-light,.twk-dark) .arrowDown, :root:not(.twk-light,.twk-dark) .sortOptions .desc {
        background-image: url("/g/icons/arrow_down_lightgrey.png")
    }

    :root:not(.twk-light,.twk-dark) .arrowDarkGreyDown {
        background-image: url("/g/icons/arrow_down_grey.png")
    }
}