[package]
name = "gosub_vello"
version = "0.1.1"
edition = "2021"
authors = ["Gosub Community <info@gosub.io>"]
license = "MIT"
description = "Vello rendering backend for Gosub"

[dependencies]
gosub_shared = { version = "0.1.1", registry = "gosub", path = "../gosub_shared" }
gosub_interface = { version = "0.1.1", registry = "gosub", path = "../gosub_interface", features = [] }
gosub_html5 = { version = "0.1.1", registry = "gosub", path = "../gosub_html5", optional = true }
gosub_svg = { version = "0.1.1", registry = "gosub", path = "../gosub_svg" }
gosub_fontmanager = { version = "0.1.0", path = "../gosub_fontmanager", registry = "gosub" }
vello = "0.4.1"
vello_encoding = "0.4.0"
image = "0.25.6"
smallvec = "1.13.2"
anyhow = "1.0.94"
raw-window-handle = "0.6.2"
futures = "0.3.31"
vello_svg = { version = "0.6.0", optional = true }
log = { version = "0.4.22", features = [] }
cow-utils = "0.1.3"
skrifa = "0.29.2"


[features]
default = ["resvg"]
resvg = ["gosub_svg/resvg"]
vello_svg = ["dep:vello_svg", "dep:gosub_html5"] # resvg has higher priority, so if both are enabled, resvg will be used