[package]
name = "gosub_config"
version = "0.1.0"
edition = "2021"
authors = ["Gosub Community <info@gosub.io>"]
license = "MIT"


[dependencies]
gosub_shared = { path = "../gosub_shared", features = [] }
serde = { version = "1.0", features = ["derive"] }
serde_json = {version = "1.0", features = ["preserve_order"]}
serde_derive = "1.0"
lazy_static = "1.5"
thiserror = "2.0.9"
wildmatch = "2.4.0"
log = "0.4.22"
testing_logger = "0.1.1"
url = "2.5.4"
anyhow = "1.0.94"


[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
sqlite = "0.36.1"
ureq = "2.12.1"